@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham-Black.otf") format("truetype");
}

@font-face {
    font-family: "Gotham Light";
    src: url("/fonts/Gotham-Light.otf") format("truetype");
}


#root{
    font-family: 'Gotham';
    font-size: 14px;
    color : white;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 0px;
    background: theme("colors.spotify-mainpanel-bg");
  }

  .scrollbar-playlist::-webkit-scrollbar-track {
    border-radius: 0px;
    background: theme("colors.spotify-black");
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: theme("colors.spotify-scrollbar");
    border-radius: 0px;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme("colors.spotify-scrollbar-hover");
  }


@layer components {
    .play-button-card {
        @apply flex justify-center items-center rounded-full absolute z-50 top-[100px] left-[100px] bg-spotify-green text-black hover:drop-shadow-2xl;
    }
}

.bg-beatles {
  background: url("/artists/beatles/beatles_artist_page.png");
  background-size: cover;
 
}
