@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gotham";
    src: url("./fonts/Gotham-Black.otf") format("truetype");
}

@font-face {
    font-family: "Gotham Light";
    src: url("./fonts/Gotham-Light.otf") format("truetype");
}


#root{
    font-family: 'Gotham';
    font-size: 14px;
    color : white;
}